@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}
<<<<<<< HEAD
html,
=======
>>>>>>> dev
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-input {
    @apply border bg-[#E2E1E1] text-center rounded-lg px-14;
  }
  .review-label {
    @apply mt-4 text-start font-bold;
  }
  .good-label {
    @apply bg-[#2ECC71] px-8 py-2 rounded-lg font-bold text-white;
  }
  .bad-label {
    @apply bg-[#FFA500] px-8 py-2 rounded-lg font-bold text-white;
  }
}
