@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-input {
    @apply border bg-[#E2E1E1] text-center rounded-lg px-14;
  }
  .review-label {
    @apply mt-4 text-start font-bold;
  }
  .good-label {
    @apply bg-[#2ECC71] px-8 py-2 rounded-lg font-bold text-white;
  }
  .bad-label {
    @apply bg-[#FFA500] px-8 py-2 rounded-lg font-bold text-white;
  }
  .sideManu-button {
    @apply flex flex-col justify-center items-center gap-1 border-2 m-2 rounded-md p-1 hover:border-[#003365] hover:text-[#003365] hover:shadow-md;
  }

  .search-input {
    @apply flex-grow mr-4 p-2 border-2 rounded-md focus:outline-none focus:border-[#003365] transition-colors duration-200;
  }
}
